# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
.gradle-user-home

# other
eclipse
run
runs
run-data

repo

.git
codex
grok
agents
.agents
AGENTS.md
TODO.md